@import url(https://fonts.googleapis.com/css?family=Fjalla+One|PT+Sans+Narrow|Oswald);

$font-stack: tahoma, helvetica, serif;
$font-copy: 'PT Sans Narrow', sans-serif;
$font-heading: 'Fjalla One', sans-serif;
$font-sans: 'Oswald', sans-serif;

$transwhite: rgba(255, 255, 255, 0.6);
$transblack: rgba(0, 0, 0, 0.7);
$blue: #0c0f16;